/* ────────────────────────────────────────────────────────────
 * Custom Theme for SwayOSD
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color background-color #161616;
@define-color border-color #8A8A8D;
@define-color label #ee5396;
@define-color image #33b1ff;
@define-color progress #ee5396;


/* Cancel out Omarchy settings */
window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 6px solid @border-color;
    border-radius: 10px;
    background-color: @background-color;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 2px 2px 9px 0px rgba(22, 22, 22, 1);

}
