/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #33b1ff;
@define-color text #f2f4f8;
@define-color base #161616;
@define-color border #8A8A8D;
@define-color foreground #f2f4f8;
@define-color background #161616;


window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);           /* dark transparency */
    border: 4px solid alpha(@border, 0.9);    /* visible border */
    border-radius: 6px;
    padding: 4px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(#161616, 1);
    backdrop-filter: blur(1px);
}

window .search-container {
    border: 1.5px solid alpha(#ee5396, 0.25);    /* visible border */
    border-radius: 6px;
    padding: 4px 6px;
    margin: 0;
    background: alpha(@base, 0.8);            /* slightly transparent */
    box-shadow: inset 0 0 4px alpha(#ee5396, 0.05);
    backdrop-filter: blur(1px);
}


