:root {
--color00: #161616;
--color01: #161616;
--color02: #161616;
--color03: #f2f4f8;
--color04: #08bdba;
--color05: #f2f4f8;
--color06: #08bdba;
--color07: #08bdba;
--color08: #3ddbd9;
--color09: #ee5396;
--color0A: #393939;
--color0B: #33b1ff;
--color0C: #ff7eb6;
--color0D: #42be65;
--color0E: #be95ff;
--color0F: #78a9ff;
}
